.text-bar-container {
  display: flex;
  flex-direction: row;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  margin-bottom: 10px;
}

.text-bar-input {
  height: 30px;
  width: 90%;
  flex-grow:2;
  /* background-color: #292c2f; */
  border: 2px solid #a4a4a4;
  font-size: 16px;
  padding: 0 10px;
}

.text-bar-input:focus {
  border-color: #000000;
}
